{% extends 'base.html' %}

{% block head %}

<title>About</title>

{% endblock %}

{% block body %}

  <div class="jumbotron my-4 bg-secondary">
    <h1 class="display-3">About</h1>
    <hr class="bg-primary">
    <div class="card px-4 my-2">
      <h1 class="display-5">Contact Us</h1>
      <p class="lead">
        Aarav Rajput (Front-end development): <a class="float-right" href="mailto:aarav.rajput2003@gmail.com?subject=Gulag Py Feedback">aarav.rajput2003@gmail.com</a><br>
        Abheek Tripathy (Back-end data preparation): <a class="float-right" href="mailto:therookie7073@gmail.com?subject=Gulag Py Feedback">therookie707@gmail.com</a><br>
        Dhruv Arora (Front to Back end linkage): <a class="float-right" href="mailto:arora.dhruv26@gmail.com?subject=Gulag Py Feedback">arora.dhruv26@gmail.com</a><br>
      </p>
    </div>
    <div class="card px-4 py-2 my-2">
      <h1 class="display-5 d-inline"> Github Repo</h1>
      <a class="btn btn-outline-info d-inline" href="https://github.com/AaravRajput/GulagProject"><img src="static/img/GitHub.png" width="32" height="32"></a>
    </div>
  </div>

{% endblock %}
