{% extends 'base.html' %}

{% block head %}

<title>Contact Us</title>
<link rel="icon" type="image/png" href="static/img/Gulag.png">

{% endblock %}

{% block body %}

  <div class="jumbotron my-4 bg-secondary">
    <h1 class="display-3">Contact Us</h1>
    <hr class="bg-primary">


    <div class="card">
      <div class="card">
        <div class="card-header">
          Developer Contact
        </div>
        <div class="card-body">
          <div>
            <p class="lead">Aarav Rajput
              <a class="btn btn-primary float-right" href="mailto:aarav.rajput2003@gmail.com">Mail
              </a>
            </p>
          </div>
          <div>
            <p class="lead">Abheek Tripathy
              <a class="btn btn-primary float-right" href="mailto:therookie707@gmail.com">Mail
              </a>
            </p>
          </div>
          <div>
            <p class="lead">Dhruv Arora
              <a class="btn btn-primary float-right" href="mailto:arora.dhruv26@gmail.com">Mail
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Github Repo
        </div>
        <div class="card-body">
          Source code of the project:
          <a type="button" class="btn btn-outline-info" href="https://github.com/AaravRajput/GulagProject">
            <img src="static/img/GitHub.png" alt="Github">
            GulagPy
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
